/*////Scrollbar////*/
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(133, 125, 125, 0.2) black;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 9px;
  width: 9px;
}
*::-webkit-scrollbar-track {
  background-color: black;
}
*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(77 76 76 / 50%);
  border: 1px solid #ffffff21;
}

/*////All spinners////*/
.spinner,
.spinner-submit,
.page-spinner {
  border-radius: 50%;
  animation: spinner-bulqg1 0.96s infinite linear alternate,
    spinner-oaa3wk 1.92s infinite linear;
}

/*////On submit spinner////*/
.spinner-submit {
  position: absolute;
  display: none;
  top: 15px;
  width: 20px;
  height: 20px;
  border: 3px solid #000000;
}

/*////On delete spinner////*/
.spinner {
  position: absolute;
  display: none;
  top: 12px;
  right: 12px;
  width: 13px;
  height: 13px;
  border: 3.8px solid #ffffff;
}

/*////Page spinner////*/
.spinner-wrapper {
  display: flex;
  justify-content: center;
}

.page-spinner {
  display: none;
  top: 40%;
  position: fixed;
  width: 100px;
  height: 100px;
  border: 5px solid #ffffff;
}

@keyframes spinner-bulqg1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }

  12.5% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 0%,
      100% 0%,
      100% 0%
    );
  }

  25% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      100% 100%,
      100% 100%
    );
  }

  50% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }

  62.5% {
    clip-path: polygon(
      50% 50%,
      100% 0,
      100% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }

  75% {
    clip-path: polygon(
      50% 50%,
      100% 100%,
      100% 100%,
      100% 100%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }

  100% {
    clip-path: polygon(
      50% 50%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      0% 100%
    );
  }
}

@keyframes spinner-oaa3wk {
  0% {
    transform: scaleY(1) rotate(0deg);
  }

  49.99% {
    transform: scaleY(1) rotate(135deg);
  }

  50% {
    transform: scaleY(-1) rotate(0deg);
  }

  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}

body {
  -webkit-tap-highlight-color: transparent;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #eeecd7;
  background-color: #141414;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

header {
  text-align: center;
  margin-bottom: 15px;
  position: relative;
}

img {
  width: 105px;
}

#modal-btn {
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
  position: absolute;
  left: 10px;
  padding: 0.2em;
  border-radius: 50%;
}

#modal-btn:active,
.filter-btn:active {
  background-color: hsl(0 0% 50% / 0.5);
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1) background-color;
}
@media (min-width: 1000px) {
  #modal-btn:hover,
  .filter-btn:hover {
    background-color: hsl(0 0% 50% / 0.5);
  }
}

/*////Filter button////*/
.filter-wrapper {
  margin: 30px 0 10px 0;
  display: flex;
  flex-direction: row-reverse;
  gap: 0.35em;
}

.filter-btn {
  background-color: #272727;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 0.2em;
  width: 40%;
  text-align: center;
}

/*////Teachings lists wrapper////*/
.container {
  direction: rtl;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.teachings {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.teachings .card {
  position: relative;
  background-color: #1e1e1e;
  margin: 10px;
  padding: 20px 15px;
  border-radius: 10px;
  box-shadow: inset 0 0 20px 20px rgba(0, 0, 0, 0.1);
}

.delete {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  cursor: pointer;
  border: none;
  border-radius: 50%;
}

.edit-btn {
  cursor: pointer;
  position: absolute;
  right: 48px;
  top: 13px;
}

.teaching-text {
  white-space: pre-wrap;
  font-size: 1rem;
  max-height: 188px;
  padding-left: 11px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(133, 125, 125, 0.2) #141414;
}

.teaching-text::-webkit-scrollbar-track {
  background-color: #141414;
}

.tag {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px;
  font-size: 14px;
}

.فلسطين {
  background: #006a2a;
}

.عقيدة {
  background: #a5690f;
}

.سيرة {
  background: #669900;
}

.رقائق {
  background: #993399;
}

.المرأة {
  background: #ff66cc;
}

.قرآن {
  background: #645200;
}

.فوائد {
  background: #ff9900;
}

.date,
.author {
  color: #c8c8c8;
  font-size: 14px;
}

.no-content {
  background-color: #1e1e1e;
  box-shadow: inset 0 0 20px 20px rgba(0, 0, 0, 0.1);
  padding: 20px 15px;
  border-radius: 10px;
  text-align: center;
}

/*////Form modal////*/
.modal {
  direction: rtl;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-box {
  position: relative;
  margin: 10% auto;
  width: 600px;
  background-color: rgb(36 36 36 / 72%);
  backdrop-filter: blur(8px);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: modalopen ease-in-out 100ms;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

form input,
form textarea {
  width: 97%;
}

form input,
form textarea,
select {
  padding: 10px;
  border: solid 2px rgba(82, 82, 82, 0.5);
  color: white;
  background-color: rgb(0 0 0 / 50%);
  border-radius: 10px;
  margin: 10px 0;
  resize: none;
}

select {
  width: 100%;
}

select,
select option,
form input,
form textarea {
  font-size: 1rem;
}

select option {
  background-color: rgb(0 0 0);
}

form textarea {
  height: 100px;
}

form label {
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin-top: 11px;
}

.danger-wrapper {
  opacity: 0;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  gap: 0.1em;
}

.submitbtn-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}

.btn {
  background-color: #ffffff;
  color: black;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: inherit;
  margin-top: 10px;
  width: 70%;
  transition: width 500ms cubic-bezier(0.23, 1, 0.32, 1);
}

.btn:hover {
  background-color: #c9c9c9;
}

/*////Media queries////*/
@media (max-width: 768px) {
  .modal-box {
    width: 80%;
  }
  form input,
  form textarea {
    width: 95%;
  }
}

@media (max-width: 500px) {
  .filter-wrapper {
    overflow-x: scroll;
    max-width: 100%;
  }
  .filter-btn {
    padding-right: 33px;
    padding-left: 33px;
  }
  *::-webkit-scrollbar {
    height: 3px;
    width: 3px;
  }
  *::-webkit-scrollbar-thumb {
    border-radius: 0px;
  }
}
